<div class="page-head"> 
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">404: Page not found!</span></h1>               
                </div>
            </div>
        </div>
    </div>
    <!-- End page header --> 

    <!-- property area -->
    <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
        <div class="container">   
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 profiel-container alert alert-warning">
                    <p class="lead text-center">Oops! It appears that the page you are looking for does not exist. Please verify the url in the address bar.</p>
                </div>
            </div>
        </div>
    </div>
                    
