<div class="page-head"> 
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Contact page</h1>               
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
        <div class="container">  
            <div class="row">
                <div class="col-md-12"> 
                        
                    <div class="" id="contact1">                        
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Address</h3>
                                <p>2nd Floor, Baylsa Guest House, Maitama, Abuja
                                    <br>Federal Capital Territory
                                    
                                    <br>
                                    <strong>Nieria</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i> Call center</h3>
                                <p class="text-muted">You can speak directly to any of our customer care representative using our land and mobile lines.</p>
                                <p><strong>+234 8023262908</strong></p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                                <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                                <ul>
                                    <li><strong><a href="mailto:">info@coinmac-properties.com</a></strong>   </li>
                                    <li><strong><a href="users/ticket">Ticketio</a></strong> - our ticketing support platform</li>
                                </ul>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->
                        <hr>
                        
                        <div class="col-md-8 col-md-offset-2"> 
                                <% include ./partials/messages %>
                        <h2>Contact form</h2>
                            <form action="/contact_us" method="POST">
                                <% if (login) { %>
                                    <input type="hidden" name="senderid" value="<%=userdata.userid %>">
                                <% }else{ %>
                                    <input type="hidden" name="senderid" value="Guest">
                                <% } %>
                                <input type="hidden" name="receiverid" value="Administrator">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Firstname</label>
                                            <input name="firstname" type="text" class="form-control" id="firstname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">Lastname</label>
                                            <input name="lastname" type="text" class="form-control" id="lastname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input name="email" type="text" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input name="subject" type="text" class="form-control" id="subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea name="message" id="editor" class="form-control editor" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        
                                            <span>Verify that you are a human</span>
                                                <div class="g-recaptcha" data-sitekey="6Le87qgUAAAAAA91eO824EPaYg9H1mQxhuaGmTQp"></div>
                                    </div>
                                   
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>
                </div>    
            </div>
           
        </div>
    </div>

    <% include ./partials/maps %>