
<div class="page-head"> 
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Recover Password </h1>               
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->


    <!-- register-area -->
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">

            <div class="col-md-6 col-md-offset-3">
                <div class="box-for overflow">                         
                    <div class="col-md-12 col-xs-12 login-blocks">
                        <h2>Password Recovery : </h2> 
                        <% include ./partials/messages %>
                        <form action="/users/forgotpassword" method="post">
                            
                            <div class="form-group">
                                <label for="email">Enter your (registered) email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    Verify that you are a human
                                </div>
                                
                                <div class="col-md-9 g-recaptcha" data-sitekey="6Le87qgUAAAAAA91eO824EPaYg9H1mQxhuaGmTQp"></div>
                                
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-default"> Recover </button>
                            </div>
                        </form>
                        <p class="mt-8 text-center">Remembered Password?<a href="/users/login">Login</a></p>

                        <p class="lead mt-8 text-center">Don't have an Account? <a href="/users/register">Sign up</a> </p>
                        <!--
                        <br>
                        
                        <h2>Social login :  </h2> 
                        
                        <p>
                        <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a> 
                        <a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a> 
                        <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>  
                        </p> 
                        -->
                    </div>
                    
                </div>
            </div>

        </div>
    </div> 

