<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">MY PROPERTIES</h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area recent-property" style="background-color: #FFF;">
    <div class="container">   
        <div class="row">

            <div class="col-md-9 pr-30 padding-top-40 properties-page user-properties">

                
                <% if(myproperties.length > 0){ %>
                <div class="section"> 
                    <div id="list-type" class="proerty-th-list">
                    
                        <%  myproperties.forEach(function(myproperty) {%>
                        <div class="col-md-4 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="/property/<%=myproperty.userid%>/<%=myproperty.propertyid%>" ><img src="<%= userdata.userid %>/<%=myproperty.propertyid%>/<%=myproperty.featuredimg%>"></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="/property/<%=myproperty.userid%>/<%=myproperty.propertyid%>"> <%=myproperty.propertyname%></a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> </span>
                                    <span class="proerty-price pull-right">&#8358; <%=myproperty.propertyprice%></span>
                                    <p style="display: none;"><%=myproperty.propertydescription.substring(0,200)%></p>
                                    <div class="property-icon">
                                        <img src="../assets/img/icon/bed.png"> <%=myproperty.bedrooms%> | 
                                        <img src="../assets/img/icon/shawer.png"> <%=myproperty.baths%>|
                                        <img src="../assets/img/icon/cars.png">  <%=myproperty.garage%>

                                        <div class="dealer-action pull-right">                                        
                                            <a href="/property/edit/<%=myproperty.userid%>/<%=myproperty.propertyid%>" class="button">Edit </a>
                                            <a href="/property/delete/<%=myproperty.userid%>/<%=myproperty.propertyid%>" class="button delete_user_car">Delete</a>
                                            <a href="/property/<%=myproperty.userid%>/<%=myproperty.propertyid%>" class="button">View</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <% }) %>                           

                                                                
                    </div>
                </div>
                <% } %>

                <div class="section"> 
                    <div class="pull-right">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>                
                </div>

            </div>       

            <div class="col-md-3 p0 padding-top-40">
                <div class="blog-asside-right">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Hello <%=userdata.name%></h3>
                        </div>
                        <div class="panel-body search-widget">

                        </div>
                    </div>

                    <%if(userdata.isAdmin===true){%>
                        <ul class="list-group">
                            <li class="list-group-item active"><a href="all_properties" style="color: white">All Properties</a></li>
                            <li class="list-group-item"><a href="all_payments">All Payments</a></li>
                            <li class="list-group-item"><a href="all_users">All Users</a></li>
                            <li class="list-group-item"><a href="all_agents">All Agents</a></li>
                        </ul>
                    <%}%>

                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recommended</h3>
                        </div>
                        <div class="panel-body recent-property-widget">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>