<div class="page-head"> 
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Pricing</h1>               
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="content-area recent-property padding-top-40" style="background-color: #FFF; width: 80%; margin: auto;">
            <div class="row">

                    <!-- item -->
                    <div class="col-md-4 text-center">
                        <div class="panel panel-danger panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <h3>Standard</h3>
                            </div>
                            <div class="panel-body text-center">
                                <p><strong>&#8358;10,000 / Month</strong></p>
                            </div>
                            <ul class="list-group text-center">
                                <li class="list-group-item"><i class="fa fa-check"></i> Publishing of 20 Properties</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> ...</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> ...</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE NOW!</a>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
    
                    <!-- item -->
                    <div class="col-md-4 text-center">
                        <div class="panel panel-warning panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-star"></i>
                                <h3>Professional</h3>
                            </div>
                            <div class="panel-body text-center">
                                <p><strong>&#8358;20,000 / Month</strong></p>
                            </div>
                            <ul class="list-group text-center">
                                <li class="list-group-item"><i class="fa fa-check"></i> Publish 50 properties</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Listed in Recommended Properties</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Listed in Popular Searches</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-warning" href="#">SUBSCRIBE NOW!</a>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
    
                    <!-- item -->
                    <div class="col-md-4 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-bars"></i>
                                <h3>Executive</h3>
                            </div>
                            <div class="panel-body text-center">
                                <p><strong>&#8358;50,000 / Month</strong></p>
                            </div>
                            <ul class="list-group text-center">
                                <li class="list-group-item"><i class="fa fa-check"></i> 100 Properties</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Listed in Featured Properties</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Special Deals</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success" href="#">SUBSCRIBE NOW!</a>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
    
                </div>
    </div>